<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
        <httpErrors errorMode="Detailed" />
        <httpRedirect enabled="false" destination="http://www.iroomct.co.kr" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
